<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <p>JavaScript là một ngôn ngữ lập trình của HTML và WEB. Nó là nhẹ và được sử dụng phổ biến
        nhất như là một phần của các trang web, mà sự thi hành của chúng cho phép Client-Side script
        tương tác với người sử dụng và tạo các trang web động.
        Nó là một ngôn ngữ chương trình thông dịch với các khả năng hướng đối tượng.</p>
    </div>
  </div>
</div>

