<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Customer</b></h2>
        </div>

        <div class="col-sm-6">
          <a (click)="clickCustomer()" class="add btn btn-success" data-toggle="modal"  data-target="#exampleModal"><i
            class="material-icons" title="add">&#xE147;</i><span>Add New Customer</span></a>
        </div>

      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="pl-1">STT</th>
        <th class="pl-1">Code</th>
        <th class="pl-1">Name</th>
        <th class="pl-1">Customer Type</th>
        <th class="pl-1">Birthday</th>
        <th class="pl-1">Id Card</th>
        <th class="pl-1">Phone</th>
        <th class="pl-1">Email</th>
        <th class="pl-1">Address</th>
        <th class="pl-1">Actions</th>
      </tr>
      </thead>
      <tbody class="bg-white">

      <tr *ngFor="let customer of customers| paginate: { itemsPerPage: 5, currentPage: p},  let i = index ">
        <td class="pl-1 pr-0 align-middle">{{ i + 1 }}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.customerCode }}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.customerName }}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.customerType.customerTypeName }}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.dateOfBirth| date:'dd-MM-yyyy' }}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.customerCard}}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.customerPhone }}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.customerEmail }}</td>
        <td class="pl-1 pr-0 align-middle">{{ customer.customerAddress }}</td>
        <td class="pl-1 pr-0 align-middle">
          <a (click)="onEdit(customer)" style="cursor: pointer" class="edit eBtn" data-toggle="modal"  data-target="#exampleModal">
            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
          </a>
          <a (click)="getDeleteCustomer(customer)" class="delete" style="cursor: pointer" data-toggle="modal"  data-target="#exampleModal2">
            <i class="material-icons" data-toggle="tooltip" title="Delete" >&#xE872;</i>
          </a>
        </td>
      </tr>

      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
</div>
<!--Modal Create & Edit-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white ">
        <h5 class="modal-title " *ngIf="showAdd">Create <b>Customer</b></h5>
        <h5 class="modal-title "  *ngIf="showUpdate">Update <b>Customer</b></h5>
        <button type="button" class="btn-close " data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate [formGroup]="customerForm">
          <div class="row">
            <div class="col-6 position-relative">
              <div class="form-group">
                <label for="validationTooltip02">Customer Code <span style="color:red;">*</span>:</label>
                <input type="text" id="validationTooltip02" class="form-control" placeholder="Enter code... " formControlName="customerCode" autocomplete="off">
                <div class='text-danger' *ngFor="let valid of validation_messages.customerCode">
                  <div class="error-message" *ngIf="checkVail('customerCode', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative">
              <div class="form-group">
                <label>Type ID <span style="color:red;">*</span>: </label>
                <select class="form-control select" id="validationTooltip01" formControlName="customerType" [(ngModel)]="selectedValue" [compareWith]="compareFn">
                  <option value="" disabled>***Select type customer***</option>
                  <option *ngFor="let type of customerTypes"
                          [ngValue]="type">{{type.customerTypeName}}</option>
                </select>
                <div class='text-danger' *ngFor="let valid of validation_messages.customerType">
                  <div class="error-message" *ngIf="checkVail('customerType', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative">
              <div class="form-group">
                <label>Name <span style="color:red;">*</span>:</label>
                <input type="text" class="form-control" placeholder="Enter name... " formControlName="customerName" autocomplete="off">
                <div class='text-danger' *ngFor="let valid of validation_messages.customerName">
                  <div class="error-message" *ngIf="checkVail('customerName', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group position-relative">
                <label>Birthday <span style="color:red;">*</span>:</label>
                <input type="date" class="form-control" placeholder="Enter birthday" formControlName="dateOfBirth">
                <div class='text-danger' *ngFor="let valid of validation_messages.dateOfBirth">
                  <div class="error-message" *ngIf="checkVail('dateOfBirth', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative">
              <div class="form-group">
                <label>ID Card <span style="color:red;">*</span>: </label>
                <input type="text" class="form-control" placeholder="Enter id card... " formControlName="customerCard" autocomplete="off">
                <div class='text-danger' *ngFor="let valid of validation_messages.customerCard">
                  <div class="error-message" *ngIf="checkVail('customerCard', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative">
              <div class="form-group">
                <label>Phone<span style="color:red;">*</span>: </label>
                <input type="text" class="form-control" placeholder="Enter phone number..." formControlName="customerPhone" autocomplete="off">
                <div class='text-danger' *ngFor="let valid of validation_messages.customerPhone">
                  <div class="error-message" *ngIf="checkVail('customerPhone', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative">
              <div class="form-group">
                <label>Email<span style="color:red;">*</span>: </label>
                <input type="email" class="form-control" placeholder="Enter email..." formControlName="customerEmail">
                <div class='text-danger' *ngFor="let valid of validation_messages.customerEmail">
                  <div class="error-message" *ngIf="checkVail('customerEmail', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 position-relative">
              <div class="form-group">
                <label>Address<span style="color:red;">*</span>: </label>
                <input type="text" class="form-control" placeholder="Enter address... " formControlName="customerAddress">
                <div class='text-danger' *ngFor="let valid of validation_messages.customerAddress">
                  <div class="error-message" *ngIf="checkVail('customerAddress', valid.type)">
                    {{valid.msg}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" *ngIf="showAdd" [disabled]="!customerForm.valid" (click)="createCustomer()" data-dismiss="modal">Create</button>
        <button type="submit" class="btn btn-primary" *ngIf="showUpdate" [disabled]="!customerForm.valid" (click)="updateCustomer()" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel2">Delete <b>Customer</b></h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the <span style="font-weight: bold">Customer:</span><br><span style="color:red; font-weight: bold" >{{nameCustomer}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteCustomer()" data-dismiss="modal" >Delete</button>
      </div>
    </div>
  </div>
</div>

