.body{
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(https://devforum.info/DEMO/LoginForm1/bg.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Be Vietnam', sans-serif;
  line-height: 1.929;
}
.datepicker-toggle-button{
  right: 24px;
  top: 69%;
}
